body {
    font-family: "Comic Sans MS", "Courier New", sans-serif;
    background-color: #b2c248;
    color: rgb(255, 255, 255);
}

nav {
    display:flex;
    justify-content: space-between;
}

footer {
    background-color: pink;
}